/* Overall Quiz Container */
#quiz-container {
  font-family: 'Arial', sans-serif;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #e6f7ff; /* SkyBlue background */
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
}

/* Header Styling */
h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #4682b4; /* Soft blue color */
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Timer Styling */
.timer {
  font-size: 1.1rem;
  font-weight: 500;
  color: #e74c3c;
  margin-bottom: 15px;
}

/* Options Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li.option {
  background-color: #4682b4; /* SkyBlue color */
  color: white;
  margin: 12px 0;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

li.option:hover {
  background-color: #5f9ea0; /* Darker sky blue color on hover */
}

/* When an option is selected and wrong */
li.option.selected-wrong {
  background-color: #e74c3c; /* Red for wrong answers */
}

/* When an option is selected and correct */
li.option.selected-correct {
  background-color: #27ae60; /* Green for correct answers */
}

/* Feedback Styling */
.feedback {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: 600;
  color: #333;
}

.feedback.correct {
  color: #27ae60; /* Green for correct answers */
}

.feedback.incorrect {
  color: #e74c3c; /* Red for incorrect answers */
}


/* Next Button Styling */
.next-btn-container {
  margin-top: 30px;
}

/* Next Button Styling */
#next-btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #4682b4; /* Red */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 180px;
  height: 50px;
}

#next-btn:hover {
  background-color: #5f9ea0; /* Hover effect */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}


/* End Test Button Styling */
#end-test-btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #e74c3c; /* Red */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 180px;
  height: 50px;
}

#end-test-btn:hover {
  background-color: #c0392b; /* Darker red on hover */
}
